.dialog-bg {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: var(--opacity-50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: var(--color-background);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  border-radius: 4px;
  padding: 8px;
  color: var(--color-tone-1)
}

.dialog-header {
  display: flex;
  justify-content: space-between;
}

.dialog-title {
  font-weight: bold;
}
