.icon-button {
  background-color: var(--color-background);
  color: var(--color-tone-1);
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 2px;
}

.icon-button-text {
  font-size: small;
  margin-left: 4px;
}

.icon-button-text:hover {
  text-decoration: underline;
}
