ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-tone-4);
  margin-bottom: 16px;
  padding: 8px;
  min-height: 36px;
}

.list-item-primary-text {
    color: var(--color-tone-1);
    font-size: medium;
}

.list-item-secondary-text {
    color: var(--color-tone-1);
    font-size: small;
    opacity: 0.8;
}

