.keyboard {
  color: var(--key-text-color);
  width: 100%;
  max-width: 500px;
}

.keyboard-row {
  width: 100%;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-key {
  width: 43px;
  height: 58px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 6px;
  background-color: var(--key-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: small;
  user-select: none;
  color: var(--key-text-color);
  font-weight: bold;
}

.keyboard-key-absent {
  background-color: var(--key-bg-absent);
  color: var(--key-evaluated-text-color);
}

.keyboard-key-present {
  background-color: var(--key-bg-present);
  color: var(--key-evaluated-text-color);
}

.keyboard-key-correct {
  background-color: var(--key-bg-correct);
  color: var(--key-evaluated-text-color);
}
