.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid var(--color-tone-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: xx-large;
  cursor: default;
  color: var(--color-tone-1);
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

